* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Oswald", sans-serif;
}
body {
  position: relative;
  max-width: 100%;
  background: rgb(0, 24, 33);
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("./assets/winterHielo_tiny.png"),
    url("./assets/winterHielo_tiny.png");
  background-size: 350px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -50px -55px, 105% 120%;
  filter: saturate(0.2) brightness(0.6) contrast(1.5);
  opacity: 0.5;
}
/* -------------------------SCROLL_BAR---------------------------- */
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: #000000;
}
*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid black;
}
/* --------------------------NAV---------------------------- */
header {
  position: relative;
  /* width: 100%; */
}
.nav--div-container {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;
  background: linear-gradient(rgb(0, 0, 0), #aaa0);
}
.nav--div-container img {
  width: 95%;
  max-width: 500px;
  transition: all 0.3s ease-in-out;
}
.nav--div-container img:hover {
  transform: scale(1.1);
}
.nav--p {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: #e1e1e1;
  text-shadow: 0 0 5px #02a2dd;
  transition: all 0.3s ease-in-out;
}
.nav--p:hover {
  text-shadow: 0 0 15px #02a2dd;
}
/* --------------------------SECTION---------------------------- */
section {
  position: relative;
  width: 100%;
  max-width: 550px;
  padding: 2rem 1rem 3rem 1rem;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.main-container--song {
  margin-top: calc(3rem - 10px);
  border: 1px solid #e1e1e1;
  background-color: #000000aa;
}
.main-container--song-div {
  padding: 1rem;
}
.main-container--song img {
  width: 375px;
}
.main-container--song h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #e1e1e1;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e1e1e1;
}
.main-container--song h2 {
  font-size: 1.5rem;
  color: #e1e1e1;
  padding: 0.5rem 0;
}
.main-container--song p {
  font-size: 1.4rem;
  color: #e1e1e1;
  padding-bottom: 0.5rem;
}
.main-container--play {
  width: 375px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main-container--play-llamado {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #02a2dd;
  padding: 3rem 1rem 0 1rem;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.main-container--play-llamado:hover {
  color: #e1e1e1;
}
.main-container--play audio {
  margin: 0 auto;
  width: 95%;
  padding: 1rem 0;
}
.main-container--letra {
  background-color: #000000aa;
  height: 500px;
  overflow: scroll;
  padding: 2rem 0;
  margin-top: 3rem;
  overflow-x: hidden;
}
.main-container--letra p {
  font-size: 1.4rem;
  color: #e1e1e1;
  padding: 0 0 1.5rem 1.5rem;
  line-height: 2.5rem;
  font-weight: 100;
}
.main-container--letra-palabra {
  color: #97cadd;
  transition: all 0.3s ease-in-out;
}
.main-container--letra-palabra:hover {
  color: #02a2dd;
}
/* --------------------------FOOTER---------------------------- */
footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-top: 1px solid #e1e1e1;
  height: 6rem;
  background-color: #000000aa;
}
footer p {
  font-size: 1.4rem;
  color: #e1e1e1;
  text-shadow: 0 0 5px #02a2dd;
}
footer img {
  width: 50px;
  -webkit-filter: drop-shadow(0 0 5px #fff);
  filter: drop-shadow(0 0 5px #fff);
}
